/*
    Document   : vars.less
    Created on : 28-Nov-2012
    Author     : Paul Cooper
    Project    : Essence Epoch
    Description: Less Variables
*/

@button-bg: #f3f3f3;
@button-text: #242b33;
@button-border: #d6d6d6;