/*
    Document   : vars.less
    Created on : 28-Nov-2012
    Author     : Paul Cooper
    Project    : Essence Epoch
    Description: Less Variables
*/

@body-bg: #e7e7e7;

@content-bg: #fff;
@content-border: #d5d7dd;

@button-bg: #eaeaea;
@button-bg-from: #fff;
@button-bg-to: #eaebeb;
@button-text: #666;
@button-border: #d6d6d6;

@masthead-bg: #333;
@masthead-bg-from: #474747;
@masthead-bg-to: #333;
@masthead-text: #efefef;

@booking-bg: #4B8DF8;
@booking-bg-from: #63ABF9;
@booking-bg-to: #4C8EF8;
@booking-text: #fff;

@font-regular: 'OpenSansRegular', Verdana, sans-serif;
@font-bold: 'OpenSansSemibold', Verdana, sans-serif;