@(user:User)

@default("Epoch") {
            <div id="epoch">
                <header id="masthead">
                    <a id="user-panel" href="#">
                        @user.name.map { name =>
                            @name
                        }
                        @user.picture.map { picture =>
                            <img src="@picture">
                        }
                    </a>
                    <h1>Epoch</h1>
                    <p>Resource Management</p>
                </header>
                <div id="timeline">
                    <div id="timeline-markers">
                        <ul>
                            <li>3 <span>Dec</span></li>
                            <li>4 <span>Dec</span></li>
                            <li>5 <span>Dec</span></li>
                            <li>6 <span>Dec</span></li>
                            <li>7 <span>Dec</span></li>
                            <li>8 <span>Dec</span></li>
                            <li>9 <span>Dec</span></li>
                            <li>10 <span>Dec</span></li>
                            <li>11 <span>Dec</span></li>
                            <li>12 <span>Dec</span></li>
                            <li>13 <span>Dec</span></li>
                        </ul>
                    </div>
                    <div id="timeline-items">
                        <ul>
                            <li>Paul Cooper</li>
                            <li>Josh Fyne</li>
                            <li>Jency Chong</li>
                            <li>Clare Isaacs</li>
                            <li>Neal Davies</li>
                            <li>Alastair Stone</li>
                            <li>Liam Keaton</li>
                            <li>Andrew Devlin</li>
                            <li>Glenn Famy</li>
                        </li>
                    </div>
                    <div id="timeline-inner">
                        <div class="item">
                            <h3>Paul Cooper</h3>
                            <ul class="bookings">
                                <li style="height: 50px; top: 0;"><strong>Client</strong> <span>Project Name</span></li>
                                <li style="height: 50px; top: 50px;"><strong>Client</strong> <span>Project Name</span></li>
                                <li style="height: 100px; top: 100px;"><strong>Client</strong> <span>Project Name</span></li>
                                <li style="height: 400px; top: 400px;"><strong>Client</strong> <span>Project Name</span></li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3>Josh Fyne</h3>
                            <ul class="bookings">
                                <li style="height: 700px; top: 0;"><strong>Client</strong> <span>Project Name</span></li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3>Jency Chong</h3>
                            <ul class="bookings">
                                <li style="height: 50px; top: 12.5px;"><strong>Client</strong> <span>Project Name</span></li>
                                <li style="height: 200px; top: 100px;"><strong>Client</strong> <span>Project Name</span></li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3>Clare Isaacs</h3>
                            <ul class="bookings">
                                <li style="height: 50px; top: 0;"><strong>Client</strong> <span>Project Name</span></li>
                                <li style="height: 50px; top: 75px;"><strong>Client</strong> <span>Project Name</span></li>
                                <li style="height: 50px; top: 125px;"><strong>Client</strong> <span>Project Name</span></li>
                                <li style="height: 50px; top: 150px;"><strong>Client</strong> <span>Project Name</span></li>
                                <li style="height: 200px; top: 225px;"><strong>Client</strong> <span>Project Name</span></li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3>Neal Davies</h3>
                            <ul class="bookings">
                                <li style="height: 700px; top: 0;"><strong>Client</strong> <span>Project Name</span></li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3>Alastair Stone</h3>
                            <ul class="bookings">
                                <li style="height: 300px; top: 50px;"><strong>Client</strong> <span>Project Name</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <script type="text/template" id="booking-template">
                    <li>
                        <strong><%= client_name %></strong>
                        <span><%= project_name %></span>
                    </li>
                </script>
            </div>
}
