@default("Epoch") {
            <div id="epoch">
                <header id="masthead">
                    <h1>Epoch</h1>
                    <p>Resource Management</p>
                </header>
                <div class="content">
                    <div id="timeline">
                        <div class="day">
                            <h3 class="date">3rd December</h3>
                        </div>
                        <div class="day">
                            <h3 class="date">4th December</h3>
                        </div>
                        <div class="day">
                            <h3 class="date">5th December</h3>
                        </div>
                        <div class="day">
                            <h3 class="date">6th December</h3>
                        </div>
                        <div class="day">
                            <h3 class="date">7th December</h3>
                        </div>
                        <div class="day">
                            <h3 class="date">8th December</h3>
                        </div>
                        <div class="day">
                            <h3 class="date">9th December</h3>
                        </div>
                        <div class="day">
                            <h3 class="date">10th December</h3>
                        </div>
                        <div class="day">
                            <h3 class="date">11th December</h3>
                        </div>
                        <div class="day">
                            <h3 class="date">12th December</h3>
                        </div>
                        <div class="day">
                            <h3 class="date">13th December</h3>
                        </div>
                    </div>
                </div>
            </div>
}